* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.nav-link {
    margin-left: 30px;
    padding-left: 20px;
    font-family: "Philosopher";
    font-size: 1.2rem;
    transition: .5s;
}

.nav-link:hover {
    background: rgba(56, 27, 97, 0.8);
    cursor: pointer;
}

.socialIcon {
    display: inline-flex;
    margin: 10px;
    padding-right: 30px;
}

.socialIcon:hover {
    cursor: pointer;
}

section#events {
    background: #45276f;
    background-size: cover;
}

#slide {
    position: relative;
    margin: auto;
    width: 1000px;
    height: 301px;
}

#slide ul {
    position: relative;
    top: 0;
    left: 0;
    width: 1000px;
    height: 301px;
    background: url(../img/andyope.jpg);
}

#slide ul li img {
    position: absolute;
    opacity: 0;
    left: 0;
    transition: 1s ease-out;
}

#slide ul li label {
    position: relative;
    z-index: 3;
    top: 325px;
    left: 425px;
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 8px;
    background: #45276f;
    border: 3px solid white;
    cursor: pointer;
    border-radius: 100%;
}

#slide ul li label:hover {
    background: rgba(56, 27, 97, 0.6);
}

#slide ul li label:active {
    background: white;
}

#slide ul li input {
    display: none;
}

#slide ul li input#button-1:checked ~ #Photo-1 {
    opacity: 1;
}

#slide ul li input#button-2:checked ~ #Photo-2 {
    opacity: 1;
}

#slide ul li input#button-3:checked ~ #Photo-3 {
    opacity: 1;
}

#slide ul li input#button-4:checked ~ #Photo-4 {
    opacity: 1;
}

.dates {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background: #45276f;
    background-size: cover;
}

.dates h1 {
    font-family: "Vesper Libre";
    font-weight: 700;
    color: white;
    line-height: 1.5;
    font-size: 2.5rem;
}

.dates h2 {
    font-family: "Vesper Libre";
    font-weight: 700;
    line-height: 1.5;
    color: white;
    font-size: 1.8rem;
    padding-top: 2%;
}


#Footer {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 5px 100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    font-family: "Philosopher";
    box-sizing: border-box;
    background: linear-gradient(rgba(56, 27, 97, 0.8), #090065);
}

.copyicon {
    width: 15px;
    height: auto;
}

.Copyright {
    color: white;
    font-size: 1.2rem;
    position: relative;
    text-align: center;
}

@media screen and (max-width: 1280px) {
        #slide {
        position: relative;
        margin: auto;
        width: 1000px;
        height: 500px;
    }

    #slide ul li label {
        position: relative;
        z-index: 3;
        top: 325px;
        left: 450px;
        float: left;
        width: 25px;
        height: 25px;
        margin: 0 5px;
        background: #45276f;
        border: 3px solid white;
        cursor: pointer;
        border-radius: 100%;
    }

    #Photo-1 {
        height: 500px
    }

    #Photo-2 {
        height: 500px
    }

    #Photo-3 {
        height: 500px
    }

    #Photo-4 {
        height: 500px
    }

    .dates {
    padding-top: 25px;
    padding-bottom: 200px;
    text-align: center;
    background: #45276f;
    background-size: cover;
}

    .dates h1 {
        font-family: "Vesper Libre";
        font-weight: 700;
        line-height: 1.5;
        font-size: 2.5rem;
        padding-top: 10px;
    }

    .dates h2 {
        font-family: "Vesper Libre";
        font-weight: 700;
        line-height: 1.5;
        font-size: 1.6rem;
        padding-top: 44px;
    }
    
@media screen and (max-width: 1024px) {
    #slide {
        position: relative;
        margin: auto;
        padding-right: 10px;
        width: 1000px;
        height: 500px;
    }

    #slide ul li label {
        position: relative;
        z-index: 3;
        top: 325px;
        left: 450px;
        float: left;
        width: 25px;
        height: 25px;
        margin: 0 8px;
        background: #45276f;
        border: 3px solid white;
        cursor: pointer;
        border-radius: 100%;
    }

    #Photo-1 {
        height: 500px
    }

    #Photo-2 {
        height: 500px
    }

    #Photo-3 {
        height: 500px
    }

    #Photo-4 {
        height: 500px
    }

    .dates {
    padding-top: 10px;
    padding-bottom: 250px;
    text-align: center;
    background: #45276f;
    background-size: cover;
}

    .dates h1 {
        font-family: "Vesper Libre";
        font-weight: 700;
        line-height: 1.5;
        font-size: 2.5rem;
        padding-top: 5px;
    }

    .dates h2 {
        font-family: "Vesper Libre";
        font-weight: 700;
        line-height: 1.5;
        font-size: 1.6rem;
        padding-top: 44px;
    }

    
    @media screen and (max-width: 840px) {
       #slide {
            position: relative;
            margin: auto;
            width: 414px;
            height: 285px;
        }

        #slide ul {
            position: relative;
            top: 0;
            left: 0;
            width: 414px;
            height: 190px;
            background: url(../img/andy-workshop1.jpg);
        }

        #slide ul li label {
            position: relative;
            z-index: 3;
            top: 210px;
            left: 170px;
            float: left;
            width: 15px;
            height: 15px;
            margin: 0 2px;
            background: #45276f;
            border: 3px solid white;
            cursor: pointer;
            border-radius: 100%;
        }

        #Photo-1 {
            width: 414px;
            height: 190px;
        }

        #Photo-2 {
            width: 414px;
            height: 190px;
        }

        #Photo-3 {
            width: 414px;
            height: 190px;
        }

        #Photo-4 {
            width: 414px;
            height: 190px;
        }

        .dates {
            padding-top:20px;
            padding-bottom: 15px;
            text-align: center;
            color: white;
        }

        .dates h1 {
            font-family: "Vesper Libre";
            font-weight: 700;
            line-height: 1.5;
            font-size: 1.6rem;
            padding-top: 0;
        }

        .dates h2 {
            font-family: "Vesper Libre";
            font-weight: 700;
            line-height: 1.5;
            font-size: 1rem;
            padding-top: 5px;
        }
        .dates img {
            width: 75%;
            margin: 20px;
            padding-top: 0;
        }
    }

    @media screen and (max-width: 770px) {
        #slide {
            position: relative;
            margin: auto;
            width: 414px;
            height: 285px;
        }

        #slide ul {
            position: relative;
            top: 0;
            left: 0;
            width: 414px;
            height: 190px;
            background: url(../img/andy-workshop1.jpg);
        }

        #slide ul li label {
            position: relative;
            z-index: 3;
            top: 210px;
            left: 170px;
            float: left;
            width: 15px;
            height: 15px;
            margin: 0 2px;
            background: #45276f;
            border: 3px solid white;
            cursor: pointer;
            border-radius: 100%;
        }

        #Photo-1 {
            width: 414px;
            height: 190px;
        }

        #Photo-2 {
            width: 414px;
            height: 190px;
        }

        #Photo-3 {
            width: 414px;
            height: 190px;
        }

        #Photo-4 {
            width: 414px;
            height: 190px;
        }

        .dates {
            padding-top:20px;
            padding-bottom: 15px;
            text-align: center;
            color: white;
        }

        .dates h1 {
            font-family: "Vesper Libre";
            font-weight: 700;
            line-height: 1.5;
            font-size: 1.6rem;
            padding-top: 0;
        }

        .dates h2 {
            font-family: "Vesper Libre";
            font-weight: 700;
            line-height: 1.5;
            font-size: 1rem;
            padding-top: 5px;
        }
        .dates img {
            width: 65%;
            margin: 20px;
            padding-top: 0;
        }

        }

    @media screen and (max-width: 500px) {
        #slide {
            position: relative;
            margin: auto;
            width: 414px;
            height: 285px;
        }

        #slide ul {
            position: relative;
            top: 0;
            left: 0;
            width: 414px;
            height: 190px;
            background: url(../img/andy-workshop1.jpg);
        }

        #slide ul li label {
            position: relative;
            z-index: 3;
            top: 210px;
            left: 170px;
            float: left;
            width: 15px;
            height: 15px;
            margin: 0 2px;
            background: #45276f;
            border: 3px solid white;
            cursor: pointer;
            border-radius: 100%;
        }

        #Photo-1 {
            width: 414px;
            height: 190px;
        }

        #Photo-2 {
            width: 414px;
            height: 190px;
        }

        #Photo-3 {
            width: 414px;
            height: 190px;
        }

        #Photo-4 {
            width: 414px;
            height: 190px;
        }

        .dates {
            padding-top:20px;
            padding-bottom: 15px;
            text-align: center;
            color: white;
        }

        .dates h1 {
            font-family: "Vesper Libre";
            font-weight: 700;
            line-height: 1.5;
            font-size: 1.6rem;
            padding-top: 0;
        }

        .dates h2 {
            font-family: "Vesper Libre";
            font-weight: 700;
            line-height: 1.5;
            font-size: 1rem;
            padding-top: 5px;
        }
        .dates img {
            width: 50%;
            margin: 20px;
            padding-top: 0;
        }

        #Footer {
            position: fixed;
            bottom: 0;
            margin: 0;
            padding: 2px 8px;
            left: 0;
            right: 0;
            width: 100%;
            height: 60px;
            font-family: "Philosopher";
            box-sizing: border-box;
            background: linear-gradient(rgba(56, 27, 97, 0.8), #090065);
        }

        .copyicon {
            width: 12px;
            height: auto;
            padding-bottom: 5px;
        }

        .Copyright {
            color: white;
            font-size: 1.2rem;
            position: relative;
            text-align: center;
        }
    }

    @media screen and (max-width: 400px) {
        #slide {
            position: relative;
            margin: auto;
            width: 360px;
            height: 191px;
        }

        #slide ul {
            position: relative;
            top: 0;
            left: 0;
            width: 360px;
            height: 200px;
            background: url(../img/andy-workshop1.jpg);
        }

        #slide ul li label {
            position: relative;
            z-index: 3;
            top: 210px;
            left: 140px;
            float: left;
            width: 15px;
            height: 15px;
            margin: 0 2px;
            background: #45276f;
            border: 3px solid white;
            cursor: pointer;
            border-radius: 100%;
        }

        #Photo-1 {
            width: 360px;
            height: 200px;
        }

        #Photo-2 {
            width: 360px;
            height: 200px;
        }

        #Photo-3 {
            width: 360px;
            height: 200px;
        }

        #Photo-4 {
            width: 360px;
            height: 200px;
        }

        .dates {
            padding: 0% 5%;
            text-align: center;
            color: white;
        }

        .dates h1 {
            font-family: "Vesper Libre";
            font-weight: 700;
            line-height: 1.5;
            font-size: 1.3rem;
            padding-top: 60px;
        }

        .dates h2 {
            font-family: "Vesper Libre";
            font-weight: 700;
            line-height: 1.5;
            font-size: .9rem;
            padding-top: 73px;
        }

       
        #Footer {
            position: fixed;
            bottom: 0;
            margin: 0;
            padding: 2px 8px;
            left: 0;
            right: 0;
            width: 100%;
            height: 60px;
            font-family: "Philosopher";
            box-sizing: border-box;
            background: linear-gradient(rgba(56, 27, 97, 0.8), #090065);
        }

        .copyicon {
            width: 12px;
            height: auto;
            padding-bottom: 5px;
        }

        .Copyright {
            color: white;
            font-size: 1rem;
            position: relative;
            text-align: center;
        }
    }

    @media screen and (max-width: 320px) {
        #slide {
            position: relative;
            margin: auto;
            width: 320px;
            height: 145px;
        }

        #slide ul {
            position: relative;
            top: 0;
            left: 0;
            width: 320px;
            height: 145px;
            background: url(../img/andy-workshop1.jpg);
        }

        #slide ul li label {
            position: relative;
            z-index: 3;
            top: 150px;
            left: 115px;
            float: left;
            width: 15px;
            height: 15px;
            margin: 0 2px;
            background: #45276f;
            border: 3px solid white;
            cursor: pointer;
            border-radius: 100%;
        }

        #Photo-1 {
             width: 320px;
            height: 145px;
        }

        #Photo-2 {
             width: 320px;
            height: 145px;
        }

        #Photo-3 {
             width: 320px;
            height: 145px;
        }

        #Photo-4 {
             width: 320px;
            height: 145px;
        }

        .dates {
            padding: 0% 2%;
            text-align: center;
            color: white;
        }

        .dates h1 {
            font-family: "Vesper Libre";
            font-weight: 700;
            line-height: 1.5;
            font-size: 1.2rem;
            padding-top: 30px;
        }

        .dates h2 {
            font-family: "Vesper Libre";
            font-weight: 700;
            line-height: 1.5;
            font-size: .8rem;
            padding-top: 65px;
        }

        
        #Footer {
            position: fixed;
            bottom: 0;
            margin: 0;
            padding: 2px 8px;
            left: 0;
            right: 0;
            width: 100%;
            height: 60px;
            font-family: "Philosopher";
            box-sizing: border-box;
            background: linear-gradient(rgba(56, 27, 97, 0.8), #090065);
        }

        .copyicon {
            width: 12px;
            height: auto;
            padding-bottom: 5px;
        }

        .Copyright {
            color: white;
            font-size: .9rem;
            position: relative;
            text-align: center;
        }
    }
