abody {
    padding: 0;
    margin: 0;
}

.nav-link {
    margin-left: 30px;
    padding-left: 20px;
    font-family: "Philosopher";
    font-size: 1.2rem;
    transition: .5s;
}

.nav-link:hover {
    background: rgba(56, 27, 97, 0.8);
    cursor: pointer;
}

.socialIcon {
    display: inline-flex;
    margin: 5px;
    padding-right: 30px;
}

.socialIcon:hover {
    cursor: pointer;
}

section#Home {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background: url(../img/nuevo%20aguila-1920x1271.jpg) no-repeat;
    transition: .5s;

}

.container {
    position: relative;
    float: right;
    width: 1000px;
    height: 900px;
    background: rbga(255, 255, 255, 0.0)
}

h1 {
    font-family: "Vesper Libre";
    font-weight: bold;
    font-size: 3rem;
    margin-top: 100px;
    text-align: center;
    color: white;
}

h3 {
    font-family: "Vesper Libre";
    font-weight: bold;
    font-size: 2rem;
    margin-top: 20px;
    text-align: center;
    color: white;
}

.btn {
    font-family: "Philosopher";
    font-weight: 400;
    position: relative;
    margin: 40px 400px;
    background-color: #45276f;
}

#Footer {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 5px 100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    font-family: "Philosopher";
    box-sizing: border-box;
    background: linear-gradient(rgba(56, 27, 97, 0.8), #090065);
}

.copyicon {
    width: 15px;
    height: auto;
}

.Copyright {
    color: white;
    font-size: 1.2rem;
    position: relative;
    text-align: center
}

@media screen and (max-width: 1440px) {
    section#Home {
        position: relative;
        width: 100%;
        height: 100vh;
        min-height: 100%;
        background: url(../img/nuevo%20aguila-1440x900.jpg) no-repeat;
        background-size: cover;

    }

    .container {
        position: relative;
        width: 100%;
        height: auto;
        background: rbga(255, 255, 255, 0.0)
    }

    h1 {
        font-family: "Vesper Libre";
        position: relative;
        font-weight: bold;
        font-size: 2rem;
        margin-top: 100px;
        text-align: center;
        color: white;
    }

    h3 {
        font-family: "Vesper Libre";
        position: relative;
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 20px;
        text-align: center;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #45276f;
        color: white;
    }

    .btn {
        font-family: "Philosopher";
        font-weight: 400;
        position: flex;
        float: right;
        background-color: #090065;

    }

    @media screen and (max-width: 1280px) {
        section#Home {
            position: relative;
            width: 100%;
            height: 100vh;
            min-height: 100%;
            background: url(../img/nuevo%20aguila-1280x900.jpg) no-repeat;
            background-size: cover;
        }

        .container {
            position: relative;
            width: 100%;
            height: auto;
            background: rbga(255, 255, 255, 0.0)
        }

        h1 {
            font-family: "Vesper Libre";
            position: relative;
            font-weight: bold;
            font-size: 2rem;
            margin-top: 100px;
            margin-left: 400px;
            text-align: center;
            color: white;
        }

        h3 {
            font-family: "Vesper Libre";
            position: relative;
            font-weight: bold;
            font-size: 1.5rem;
            margin-top: 20px;
            margin-left: 300px;
            text-align: center;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #45276f;
            color: white;
        }

        .btn {
            font-family: "Philosopher";
            font-weight: 400;
            position: flex;
            background-color: #45276f;

        }

        @media screen and (max-width: 1030px) {
            section#Home {
                position: relative;
                width: 100%;
                height: 100vh;
                min-height: 100%;
                background: url(../img/nuevo%20aguila-1030x768.jpg) no-repeat;
                background-size: cover;
            }

            .container {
                position: relative;
                width: 100%;
                height: auto;
                background: rbga(255, 255, 255, 0.0)
            }

            h1 {
                font-family: "Vesper Libre";
                position: relative;
                font-weight: bold;
                font-size: 2.5rem;
                margin-top: 50px;
                text-align: center;
                color: white;
                margin-left: 0;
            }

            h3 {
                font-family: "Vesper Libre";
                position: relative;
                font-weight: bold;
                font-size: 1.5rem;
                margin-top: 20px;
                text-align: center;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #45276f;
                color: white;
                margin-left: 0;
            }

            .btn {
                font-family: "Philosopher";
                font-weight: 400;
                position: flex;
                margin: 50px 200px;
                background-color: #45276f;
            }
            
             @media screen and (max-width: 992px) {
            section#Home {
                position: relative;
                width: 100%;
                height: 100vh;
                min-height: 100%;
                background: url(../img/nuevo%20aguila-mobil.jpg) no-repeat;
                background-size: cover;
            }

            .container {
                position: relative;
                width: 100%;
                height: auto;
                background: rbga(255, 255, 255, 0.0)
            }

            h1 {
                font-family: "Vesper Libre";
                position: relative;
                font-weight: bold;
                font-size: 2rem;
                margin-top: 50px;
                text-align: center;
                color: white;
                margin-left: 0;
            }

            h3 {
                font-family: "Vesper Libre";
                position: relative;
                font-weight: bold;
                font-size: 1.5rem;
                margin-top: 20px;
                margin-left: 30px;
                text-align: center;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #45276f;
                color: white;
                margin-left: 0;
            }

            .btn {
                font-family: "Philosopher";
                font-weight: 400;
                position: relative;
                margin: 50px 250px;
                background-color: #45276f;
            }
                 
            #Footer {
                position: fixed;
                bottom: 0;
                margin: 0;
                padding: 10px 25px;
                left: 0;
                right: 0;
                width: 100%;
                height: 40px;
                font-family: "Philosopher";
                font-size: .8rem;
                box-sizing: border-box;
                background: linear-gradient(rgba(56, 27, 97, 0.8), #090065);
            }

            .copyicon {
                width: 10px;
                height: auto;
            }

            .Copyright {
                color: white;
                font-size: .8rem;
                position: relative;
                text-align: center
            }
           
                 @media screen and (max-width: 750px) {
            section#Home {
                position: relative;
                width: 100%;
                height: 100vh;
                min-height: 100%;
                background: url(../img/nuevo%20aguila-mobil%20750.jpg) no-repeat;
                background-size: cover;
            }

            .container {
                position: relative;
                width: 100%;
                height: auto;
                background: rbga(255, 255, 255, 0.0)
            }

            h1 {
                font-family: "Vesper Libre";
                position: relative;
                font-weight: bold;
                font-size: 2rem;
                margin-top: 50px;
                text-align: center;
                color: white;
                margin-left: 0;
            }

            h3 {
                font-family: "Vesper Libre";
                position: relative;
                font-weight: bold;
                font-size: 1.5rem;
                margin-top: 20px;
                margin-left: 30px;
                text-align: center;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #45276f;
                color: white;
                margin-left: 0;
            }

            .btn {
                font-family: "Philosopher";
                font-weight: 400;
                position: relative;
                margin: 20px 100px;
                background-color: #45276f;
            }
           
            #Footer {
                position: fixed;
                bottom: 0;
                margin: 0;
                padding: 10px 25px;
                left: 0;
                right: 0;
                width: 100%;
                height: 40px;
                font-family: "Philosopher";
                font-size: .8rem;
                box-sizing: border-box;
                background: linear-gradient(rgba(56, 27, 97, 0.8), #090065);
            }

            .copyicon {
                width: 10px;
                height: auto;
            }

            .Copyright {
                color: white;
                font-size: .8rem;
                position: relative;
                text-align: center
            }
            
             @media screen and (max-width: 640px) {
            section#Home {
                position: relative;
                width: 100%;
                height: 100vh;
                min-height: 100%;
                background: url(../img/nuevo%20aguila-mobil%20640.jpg) no-repeat;
                background-size: cover;
            }

            .container {
                position: relative;
                width: 100%;
                height: auto;
                background: rbga(255, 255, 255, 0.0)
            }

            h1 {
                font-family: "Vesper Libre";
                position: relative;
                font-weight: bold;
                font-size: 2rem;
                margin-top: 50px;
                text-align: center;
                color: white;
                margin-left: 0;
            }

            h3 {
                font-family: "Vesper Libre";
                position: relative;
                font-weight: bold;
                font-size: 1.5rem;
                margin-top: 20px;
                margin-left: 30px;
                text-align: center;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #45276f;
                color: white;
                margin-left: 0;
            }

            .btn {
                font-family: "Philosopher";
                font-weight: 400;
                position: relative;
                margin: 20px 100px;
                background-color: #45276f;
            }
            
             @media screen and (max-width: 440px) {
            section#Home {
                position: relative;
                width: 100%;
                height: 100vh;
                min-height: 100%;
                background: url(../img/nuevo%20aguila-mobil%20440.jpg) no-repeat;
                background-size: cover;
            }

            .container {
                position: relative;
                width: 100%;
                height: auto;
                background: rbga(255, 255, 255, 0.0)
            }

            h1 {
                font-family: "Vesper Libre";
                position: relative;
                font-weight: bold;
                font-size: 1.5rem;
                margin-top: 20px;
                text-align: center;
                color: white;
                margin-left: 0;
            }

            h3 {
                font-family: "Vesper Libre";
                position: relative;
                font-weight: bold;
                font-size: 1.3rem;
                margin-top: 20px;
                margin-left: 20px;
                text-align: center;             
                color: white;
                margin-left: 0;
            }

            .btn {
                font-family: "Philosopher";
                font-weight: 400;
                position: relative;
                margin: 15px 100px;
                background-color: #45276f;
            }
            
             @media screen and (max-width: 390px) {
            section#Home {
                position: relative;
                width: 100%;
                height: 100vh;
                min-height: 100%;
                background: url(../img/nuevo%20aguila-mobil%20320.jpg) no-repeat;
                background-size: cover;
            }

            .container {
                position: relative;
                width: 100%;
                height: auto;
                background: rbga(255, 255, 255, 0.0)
            }

            h1 {
                font-family: "Vesper Libre";
                position: relative;
                font-weight: bold;
                font-size: 1.3rem;
                margin-top: 20px;
                text-align: center;
                color: white;
                margin-left: 0;
            }

            h3 {
                font-family: "Vesper Libre";
                position: relative;
                font-weight: bold;
                font-size: 1.1rem;
                margin-top: 10px;
                margin-left: 20px;
                text-align: center;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #45276f;
                color: white;
                margin-left: 0;
            }

            .btn {
                font-family: "Philosopher";
                font-weight: 400;
                position: relative;
                margin: 5px 50px;
                background-color: #45276f;
            }
